[i-c-kon-video],
[i-c-kon-bolt],
[i-c-kon-msdoc],
[i-c-kon-trash],
[i-c-kon-undo],
[i-c-kon-hierarchy],
[i-c-kon-save],
[i-c-kon-save-disk],
[i-c-kon-reset],
[i-c-kon-redo],
[i-c-kon-ppt],
[i-c-kon-pdf],
[i-c-kon-new],
[i-c-kon-open],
[i-c-kon-mediafly],
[i-c-kon-link],
[i-c-kon-info],
[i-c-kon-js],
[i-c-kon-hierarhy],
[i-c-kon-xls],
[i-c-kon-image],
[i-c-kon-image-outline],
[i-c-kon-function],
[i-c-kon-html],
[i-c-kon-folder],
[i-c-kon-view],
[i-c-kon-history],
[i-c-kon-folder],
[i-c-kon-edit],
[i-c-kon-horn],
[i-c-kon-trophy],
[i-c-kon-file],
[i-c-kon-css],
[i-c-kon-copy],
[i-c-kon-close],
[i-c-kon-element],
[i-c-kon-audio],
[i-c-kon-info],
[i-c-kon-logout],
[i-c-kon-check],
[i-c-kon-arrow-left],
[i-c-kon-arrow-right],
[i-c-kon-eyedropper],
[i-c-kon-scale],
[i-c-kon-move],
[i-c-kon-reorder],
[i-c-kon-add-text],
[i-c-kon-add-image],
[i-c-kon-food],
[i-c-kon-drink],
[i-c-kon-exercise],
[i-c-kon-drop],
[i-c-kon-vial],
[i-c-kon-chart],
[i-c-kon-play],
[i-c-kon-minus],
[i-c-kon-fullscreen],
[i-c-kon-home],
[i-c-kon-pacman],
[i-c-kon-loupe],
[i-c-kon-share],
[i-c-kon-target],
[i-c-kon-chat],
[i-c-kon-upload-outline],
[i-c-kon-controller],
[i-c-kon-chat-outline],
[i-c-kon-bookmark],
[i-c-kon-heart],
[i-c-kon-heart-outline],
[i-c-kon-sliders],
[i-c-kon-check-thick],
[i-c-kon-filter],
[i-c-kon-gradient],
[i-c-kon-layers],
[i-c-kon-close-thin],
[i-c-kon-share-outline],
[i-c-kon-three-sixty],
[i-c-kon-js] {
    display: inline-block;
    vertical-align: middle;
    @keyframes ickon-init {
        from {
            width: 0%;
            height: 0%;
            opacity: 0;
        }
        to {
            width: 100%;
            height: 100%;
            opacity: 1;
        }
    }
    svg {
        width: 0%;
        height: 0%;
        opacity: 0;
        animation-name: ickon-init;
        animation-duration: .3s;
        animation-delay: .15s;
        animation-fill-mode: forwards;
        * {
            fill: currentColor;
        }
    }
}