[i-c-kon-video],
[i-c-kon-bolt],
[i-c-kon-msdoc],
[i-c-kon-trash],
[i-c-kon-undo],
[i-c-kon-hierarchy],
[i-c-kon-save],
[i-c-kon-save-disk],
[i-c-kon-reset],
[i-c-kon-redo],
[i-c-kon-ppt],
[i-c-kon-pdf],
[i-c-kon-new],
[i-c-kon-open],
[i-c-kon-mediafly],
[i-c-kon-link],
[i-c-kon-info],
[i-c-kon-js],
[i-c-kon-hierarhy],
[i-c-kon-xls],
[i-c-kon-image],
[i-c-kon-function],
[i-c-kon-html],
[i-c-kon-folder],
[i-c-kon-view],
[i-c-kon-history],
[i-c-kon-folder],
[i-c-kon-edit],
[i-c-kon-file],
[i-c-kon-css],
[i-c-kon-copy],
[i-c-kon-close],
[i-c-kon-element],
[i-c-kon-audio],
[i-c-kon-info],
[i-c-kon-logout],
[i-c-kon-js] {
	display: inline-block;
	vertical-align: middle;

	svg {
		width: 100%;
		height: 100%;

		* {
			fill: currentColor;
		}
	}
}
